* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(80deg, rgba(0, 0, 0, 0.966), rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.966));
}
body::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
  background: rgb(46, 46, 46);
  border-radius: 10px;
}

.tittle {
  text-align: center;
  font-size: 25px;
  margin-top: 0.5em;
  color: white;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5em;
  background-color: rgba(44, 42, 40, 0.89);
  background-color: rgb(15, 11, 4);
  background-color: rgba(19, 19, 19, 0.192);
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
header nav ul li {
  list-style: none;
  transition: all 0.2s;
}
header nav ul li:hover {
  padding-bottom: 12px;
}
header nav ul li a {
  display: block;
  color: rgb(235, 232, 232);
  font-size: 20px;
  margin: 0 50px;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  transition: all 0.2s;
}
header nav ul li svg {
  margin: 0 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
header nav .fa-solid {
  color: white;
  font-size: 30px;
  padding: 0 50px;
  display: none;
}
header nav .logo {
  font-size: clamp(25px, 5vw, 40px);
  color: rgb(255, 255, 255);
  margin-left: 1em;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  transition: all 0.2s;
}
header nav .logo:hover {
  padding-bottom: 12px;
}

.photo {
  width: 100%;
  height: 50em;
  background-image: url(../assets/img/original.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 1.5em;
}
.photo img {
  width: 100%;
  height: 800px;
}
.photo p {
  text-align: center;
  width: 100%;
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-top: 2em;
}
.photo p:nth-child(1) {
  font-size: clamp(25px, 10vw, 75px);
  font-family: "Gelasio", serif;
}
.photo p:nth-child(2) {
  font-size: clamp(15px, 6vw, 22px);
  margin-top: 1em;
  font-family: "Gelasio", serif;
}
.photo .texto {
  position: relative;
}

.grad {
  width: 100%;
  height: 50em;
  background-image: linear-gradient(90deg, rgb(15, 15, 15), rgba(0, 0, 0, 0.445), rgb(22, 22, 22));
  position: absolute;
  opacity: 0.6;
}

.ver-mas {
  font-size: clamp(5px, 4vw, 25px);
  font-family: sans-serif;
  width: 15em;
  margin: auto;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(51, 51, 51);
  transition: all 0.25s;
  cursor: pointer;
}
.ver-mas a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.ver-mas:hover {
  transform: scale(1.1);
}

section h2 {
  text-align: center;
  font-size: clamp(10px, 10vw, 35px);
  padding-top: 20px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
}

.div-color {
  background-color: rgba(134, 134, 134, 0.041);
  width: 60%;
  margin: auto;
  margin-top: 2em;
  border-radius: 20px;
  margin-bottom: 2em;
}
.div-color .comentarios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.div-color .comentarios img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 2px rgb(31, 31, 31);
  transition: all 0.25s;
}
.div-color .comentarios img:hover {
  transform: scale(1.1);
}
.div-color .comentarios .comentarios-flex {
  margin: 2em 1em;
  width: 16em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.container .container-card {
  width: 19em;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(136, 136, 136, 0.2);
  font-family: sans-serif;
  padding-bottom: 20px;
  margin: 2em 3em;
  color: rgb(255, 255, 255);
  transition: all 0.25s;
}
.container .container-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(92, 92, 92, 0.2);
}
.container .container-card img {
  width: 100%;
  border-radius: 5px;
  height: 18em;
  background-color: rgb(255, 255, 255);
}
.container .container-card p {
  padding: 10px 20px;
  font-size: 18px;
}
.container .container-card input {
  padding: 5px 40px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(66, 66, 66);
  border: none;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
}
.container .container-card input:hover {
  background-color: rgb(53, 53, 53);
}

.informacion .p-icons, .informacion .info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: clamp(15px, 2vw, 20px);
  color: rgb(245, 245, 245);
  text-align: center;
}

.box-faqs {
  width: 50em;
  margin: 20px auto;
  padding-bottom: 15px;
  box-shadow: 0 0 3px rgb(207, 207, 207);
  border-radius: 10px;
  color: rgb(236, 236, 236);
  overflow: hidden;
}
.box-faqs h3 {
  font-size: 30px;
  background-color: rgba(78, 78, 78, 0.144);
  margin: 20px 30px 0 30px;
  padding: 10px 20px;
  border-radius: 5px;
}
.box-faqs p, .box-faqs b {
  font-size: clamp(15px, 2vw, 20px);
  margin: 10px 40px;
  text-align: left;
}

@media (max-width: 809px) {
  .box-faqs {
    width: 100%;
  }
}
.grids {
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 100px;
  grid-template-areas: "parrafo form" " mapa form" " parrafo2 form";
  color: white;
}
.grids .parrafo {
  grid-area: parrafo;
  font-size: 20px;
  text-align: center;
  margin: auto 60px;
}
.grids .parrafo b {
  font-size: 25px;
}
.grids .parrafo p a {
  text-decoration: none;
  font-style: italic;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.grids .formulario {
  grid-area: form;
  width: 80%;
  margin: auto;
  color: black;
}
.grids .formulario .form {
  background-color: rgb(255, 255, 255);
  padding: 1.5em;
  box-shadow: 0 0 8px 0 rgb(31, 31, 31);
}
.grids .formulario .form .contact input, .grids .formulario .form .contact label, .grids .formulario .form .contact textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
}
.grids .formulario .form .contact input {
  margin-bottom: 20px;
  height: 45px;
  outline: none;
  border-bottom: 2px solid rgb(32, 26, 10);
}
.grids .formulario .form .contact label {
  margin-bottom: 2px;
  font-size: 21px;
}
.grids .formulario .form .contact textarea {
  border-bottom: 2px solid rgb(27, 27, 27);
  max-height: 100px;
  max-width: 100%;
  min-height: 100px;
  min-width: 100%;
}
.grids .formulario .form .contact .sumbit {
  margin-top: 10px;
  background-color: rgb(31, 31, 31);
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.grids .mapa {
  grid-area: mapa;
  text-align: center;
  margin: auto;
  width: 50%;
}
.grids .mapa iframe {
  width: 100%;
  height: 20em;
  box-shadow: 0 0 10px 0 black;
  margin: 1em;
}
.grids .parrafo2 {
  grid-area: parrafo2;
  font-size: 20px;
  text-align: center;
  margin: auto 70px;
}

.galeria img {
  width: 100%;
  height: 25em;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px;
  transition: 0.25s;
}
.galeria img:hover {
  border: 5px solid rgb(255, 255, 255);
}
.galeria .parrafo {
  padding-top: 2em;
  color: rgb(255, 255, 255);
}

.nosotros .nosotros-parrafo {
  color: white;
  text-align: center;
  margin: auto;
  width: 80%;
  font-size: 20px;
  margin-top: 10px;
}
.nosotros .nosotros-galeria {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nosotros .nosotros-galeria .nosotros-img {
  width: 30em;
  margin: 1em;
}
.nosotros .nosotros-galeria .nosotros-img img {
  width: 100%;
  height: 25em;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.25s;
}
.nosotros .nosotros-galeria .nosotros-img img:hover {
  border: 10px solid rgba(116, 116, 116, 0);
  box-sizing: border-box;
}

@media (max-width: 1230px) {
  .grids {
    grid-template-rows: 1fr 550px 0.5fr 380px;
    grid-template-areas: "parrafo parrafo" "form form" "parrafo2 parrafo2" "mapa mapa";
  }
}
@media (max-width: 1205px) {
  header nav ul {
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(15, 11, 4);
    height: 100vh;
    width: 300px;
    padding-top: 6em;
    box-shadow: 0 0 10px 0 black;
  }
  header nav ul li {
    padding: 1em 0;
  }
  header nav ul li a {
    border: none;
  }
  header nav .fa-solid {
    display: block;
  }
  header nav .fa-solid:hover + nav ul {
    background-color: red;
    right: 0;
  }
  header nav .fa-solid:hover + nav ul {
    right: 0px;
  }
}
.footer {
  background-color: rgb(7, 5, 0);
  background-color: rgba(17, 17, 17, 0.24);
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
  height: 7em;
}
.footer .rrss {
  color: rgb(255, 255, 255);
  padding: 1em;
}
.footer .rrss:hover {
  color: rgb(54, 48, 27);
}
.footer .rrss svg {
  width: 5em;
  padding: 0;
}