.footer {
    background-color: rgb(7, 5, 0);
    background-color: rgba(17, 17, 17, 0.24);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    height: 7em;
    .rrss {
        color: rgb(255, 255, 255);
        padding:1em;
        &:hover {
            color: rgb(54, 48, 27);
        }
        svg {
            width: 5em;
            padding: 0;
        }
    }
}