.informacion {
    .p-icons, .info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: clamp(15px,2vw,20px);
        color: rgb(245, 245, 245);
        text-align: center;
    }
}
.box-faqs {
    width: 50em;
    margin: 20px auto;
    padding-bottom: 15px;
    box-shadow: 0 0 3px rgb(207, 207, 207);
    border-radius: 10px;
    color: rgb(236, 236, 236);
    overflow: hidden;
    h3{
        font-size: 30px;
        background-color: rgba(78, 78, 78, 0.144);
        margin: 20px 30px 0 30px ;
        padding: 10px 20px;
        border-radius: 5px;

    }
    p, b {
        font-size:clamp(15px,2vw,20px);
        margin: 10px 40px;
        text-align: left;
    }
}
@media(max-width:809px){
    .box-faqs {
        width: 100%;
    }

}