@media(max-width:1230px){
    .grids{
        grid-template-rows: 1fr 550px 0.5fr 380px;
        grid-template-areas: "parrafo parrafo"
                            "form form"
                            "parrafo2 parrafo2"
                            "mapa mapa";
        }    
    
    }
    @media(max-width:1205px){
        header nav{        
            ul {    
                position: fixed;
                right:-300px;
                top: 0;
                z-index: 1;
                flex-direction: column;
                justify-content: start;
                background-color: rgb(15, 11, 4);
                height: 100vh;
                width: 300px;
                padding-top: 6em; 
                box-shadow: 0 0 10px 0 black;           
                li {
                    padding: 1em 0;
                    a{
                        border: none;
                    }                
                }
            }
            .fa-solid {
                display: block;
                &:hover  +  nav ul{
                    background-color: red;
                    right: 0;
                }
            }
            .fa-solid:hover+ nav ul{
                right: 0px;
            }
        }
        
    }
